<footer class="footer">
  <section class="footer__social">
    <article class="footer__media">
      <h1>Coffe</h1>
      <ul>
        <a href="https://github.com/Vsjee" target="_blank">
          <i-bs name="github" width="26" height="26"></i-bs>
        </a>
        <a href="#" target="_blank">
          <i-bs name="linkedin" width="26" height="26"></i-bs>
        </a>
      </ul>
    </article>
    <article class="footer__form">
      <h3>Keep in touch.</h3>
      <span>Newsletters</span>
      <form
        action=""
        class="form"
        [formGroup]="checkoutForm"
        (ngSubmit)="onSubmit()"
      >
        <input
          type="email"
          placeholder="email@email.com"
          autocomplete="email"
          name="email"
          class="text"
          formControlName="email"
          required
        />
        <input type="submit" class="btn" />
      </form>
    </article>
  </section>

  <section class="footer__copy">
    <p>
      Reserved rights and copyright, made by
      <span>David Hernandez</span>.
    </p>
  </section>
</footer>
