.mat-toolbar {
  background-image: url(https://images.unsplash.com/photo-1506619216599-9d16d0903dfd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 2;

  .example-spacer {
    flex: 1 1 auto;
  }

  .menu__responsive {
    display: inline-flex;
  }

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  .mat-toolbar__home {
    display: grid;
    place-content: center;
  }

  .example-icon {
    cursor: pointer;
    border: none;
    background: none;
  }

  .menuContainer {
    display: grid;
    place-items: center;
  }

  .menuBtn {
    cursor: pointer;
    background: none;
    border: none;
    transition: 0.4s ease-in;

    &:hover {
      color: #fff;
    }
  }
}
